---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import AlertsFeed from '../../components/islands/AlertsFeed.svelte';
import { getSupabaseClient } from '../../lib/supabase';

const supabase = getSupabaseClient(Astro.cookies);
const { data: userData } = await supabase.auth.getUser();

let projectId = null;
let playStoreUrl = null;
if (userData?.user) {
  projectId = Astro.cookies.get('mindphor_app_id')?.value;
  
  let query = supabase.from('apps').select('id, play_store_url').eq('user_id', userData.user.id);
  if (projectId) {
    query = query.eq('id', projectId);
  } else {
    query = query.order('created_at', { ascending: false });
  }
  
  let { data: apps } = await query.limit(1);
  projectId = apps?.[0]?.id;
  playStoreUrl = apps?.[0]?.play_store_url;
} else {
  
}

if (projectId) {
  const { count } = await supabase.from('alerts').select('*', { count: 'exact', head: true }).eq('app_id', projectId);
  Astro.cookies.set('last_seen_alerts_count', (count || 0).toString(), { path: '/' });
}

const selectedDate = Astro.url.searchParams.get('date') || '';
---

<DashboardLayout title="Alerts">
  <div class="w-full flex-1 flex flex-col pb-10">
    <AlertsFeed client:load projectId={projectId} playStoreUrl={playStoreUrl} expanded={true} date={selectedDate} />
  </div>
</DashboardLayout>
