---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import GoalsCalendar from '../../components/islands/GoalsCalendar.svelte';
import ActionTasks from '../../components/islands/ActionTasks.tsx';
import { getSupabaseClient } from '../../lib/supabase';

const supabase = getSupabaseClient(Astro.cookies);
const { data: userData } = await supabase.auth.getUser();

let appId = null;

if (userData?.user) {
  let { data: apps } = await supabase.from('apps').select('id').eq('user_id', userData.user.id).limit(1);
  if (apps && apps.length > 0) {
    appId = apps[0].id;
  }
} else {
  const isGuestQuery = Astro.url.searchParams.get('guest') === 'true';
  const isGuestCookie = Astro.cookies.has('guest_mode');
  if (isGuestQuery || isGuestCookie) {
    appId = "guest_project";
  }
}
---

<DashboardLayout title="Goals & Action Plan">
  <div class="flex flex-col lg:flex-row -mt-6 -mx-10" style="height: calc(100vh - 48px); width: calc(100% + 80px);">
    <div class="flex-1 min-w-0">
      <GoalsCalendar client:only="svelte" appId={appId} />
    </div>
    <div class="w-full lg:w-[360px] flex-shrink-0 flex flex-col bg-bg-base border-l border-border-default">
      <ActionTasks client:only="react" appId={appId} />
    </div>
  </div>
</DashboardLayout>
