---
import '../styles/global.css';
import Toast from '../components/ui/Toast.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Mindphor - AI Reliability Monitoring" />
		<meta name="viewport" content="width=device-width" />
		<meta name="google" content="notranslate" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600&family=Geist+Mono:wght@400;500&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
		<title>{title} | Mindphor</title>

	</head>
	<body>
    <slot />
    <Toast />
	</body>
</html>
